.container{
  display: flex;
  position: relative;
  list-style-type: none;
  justify-content: space-between;
  background-color: rgb(88, 88, 200);
  color: white !important;
}

.l-navbar{
  display: flex;
  justify-content: flex-start;
}

/* li{
  padding: 10px;
} */

.nav-item{
  padding: 10px;
}

.nav-item:hover{
  color: red;
}

/* .r-navbar{
  display: flex;
  justify-content: flex-end;
} */

.content{
  align-items: center;
  display: flex;
}